// 新版本颜色
$_colorMain: #FD9600; // 主色
$_colorAid: #1493E3;  // 辅色

// 线的颜色基本都是这个
$_borderMain: #e5e5e5;

// 字体的颜色
$_fontf: #fff;
$_fond0: #000;
$_fond3: #333;
$_fond6: #666;
$_fond9: #999;

// 背景的颜色
$_bacgroundM: #f2f2f2; // 可交互的背景
$_bacgroundNM: #f4f4f4; // 不可交互的背景
$_bacgroundPeopleCenter: #3D4756; // 个人中心的背景色

// 媒体查询用于字号的适配
$tablet-width: 1400px;
//$desktop-width: 1920px;

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}


// 旧版主色
